@model Models.Framework.MeasurementData

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MeasurementData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataType.dataTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataType.dataTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementLocation.mLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementLocation.mLocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mDataValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mDataValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mDataID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
