@model PagedList.IPagedList<Models.Framework.MeasurementData>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách dữ liệu đo</h2>

<p>
    @using (@Html.BeginForm("Index", "MeasurementData", FormMethod.Post))
    {
        <div class="row">

            <div class="col-3">
                @Html.ActionLink("Danh sách kiểu dữ liệu đo", "Index", "DataType")
            </div>
            <div class="col-2">
                @Html.DropDownList("locationID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-2">
                @Html.DropDownList("dataTypeID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-2">
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info"/>
                <a href="~/Admin/MeasurementData/DeleteFilter" class="text-info">Bỏ lọc</a>
            </div>
        </div>
    }

</p>
<table class="table">
    <tr>
        <th>
            Dữ liệu đo
        </th>
        <th>
            Vị trí điểm đo
        </th>
        <th>
            Thời điểm cập nhật
        </th>
        <th>
            Giá trị
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.dataTypeName)
    </td>
    <td>
        <a href="~/Admin/MeasurementLocation/Details/?id=@item.mLocationID">@Html.DisplayFor(modelItem => item.mLocationName)</a>

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.updateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mDataValue)&nbsp;@Html.DisplayFor(modelItem => item.mUnit)
    </td>

</tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithPageCountText)