@model PagedList.IPagedList<Models.Framework.PhotoAlbum>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách ảnh</h2>

<p>
    @Html.ActionLink("Thêm hình ảnh", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
           Ngày đăng tải
        </th>
        <th>
            Đăng tải bởi
        </th>
        <th>
            Địa điểm
        </th>
        <th>
            Kinh độ
        </th>
        <th>
            Vĩ độ
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.albumTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @if (item.albumStatus == 1)
                {
                    @:<div style="color:red">Chờ duyệt </div>
                }
                else if (item.albumStatus == 2)
                {
                    @:Không hiển thị
                }
                else
                {
                    @:<div style="color:blue">Đã duyệt</div>
                }
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.photoAlbumID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.photoAlbumID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.photoAlbumID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithPageCountText)