@model IEnumerable<Models.Framework.PhotoAlbum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách ảnh</h2>

<p>
    @Html.ActionLink("Thêm hình ảnh", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.albumTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albumStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.albumTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.createDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.wardName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.longitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.albumStatus)
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.photoAlbumID }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.photoAlbumID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.photoAlbumID })
    </td>
</tr>
}

</table>
