@model Models.Framework.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết thông báo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageType.messageTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType.messageTypeName)
        </dd>

        <dt>
           Người tạo thông báo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messageStatus)
        </dt>

        <dd>
            @if (Model.messageStatus == 2 || Model.messageStatus == 3)
            {
                @:<div style="color:red;">Chưa gửi</div>
            }
            else
            {
                @:<div style="color:blue;">Đã gửi</div>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.messageID }) |
    @if (!(Model.messageStatus == 4))
    {
        @Html.ActionLink("Gửi thông báo", "Send", new { id = Model.messageID }) @:|
    }
    @Html.ActionLink("Trở về", "Index")
</p>
