@model Models.Framework.Message

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa thông báo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.messageID)
        @Html.HiddenFor(model => model.senderID)
        @Html.HiddenFor(model=>model.messageStatus)
        <div class="form-group">
            @Html.LabelFor(model => model.reiceiverID,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("reiceiverID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.reiceiverID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageTypeID,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("messageTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.messageTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.messageTitle, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.messageTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.messageContent, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.messageContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{string displayStatus = "Chưa gửi";}
                @if (Model.messageStatus == 4)
                {
                    displayStatus = "Đã gửi";
                }
                    @Html.TextBox("status",displayStatus,  htmlAttributes: new { @class = "form-control" ,disabled=true})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
