
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Dữ liệu đo</h2>
<div>
    <img src="~/Photos/pdficon.png" height="25px" width="25px" /> <a href="@Url.Action("Report",new {id="PDF" })">Xuất báo cáo định dạng PDF</a>
</div>
<div>
    <img src="~/Photos/docicon.png" height="25px" width="25px" /> <a href="@Url.Action("Report",new {id="Word" })">Xuất báo cáo định dạng Word</a>
</div>
<br />
<div class="col-sm-3">
    @using (Html.BeginForm("Index", "MyCharts", FormMethod.Post, new { id = "mForm" }))
    {
        <div class="ui-field-contain">
            @Html.DropDownList("mLocationID", null, htmlAttributes: new { @class = "form-control", name = "mLocationID", id = "mLocationID", onchange = "getMData()" })
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-6">
        <canvas id="temperatureChart" style="height: 370px; width: 100%;"></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="airHumidityChart" style="height: 370px; width: 100%;"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <canvas id="soilHumidityChart" style="height: 370px; width: 100%;"></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="rainyChart" style="height: 370px; width: 100%;"></canvas>
    </div>
</div>




@section Scripts
{
    <script>

         function getMData() {
          //  var select = document.getElementById('mLocationID');
           // var mLocationID = select.value;
            document.getElementById('mForm').submit();
        }
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        function temperatureChart() {
            var result = @Html.Raw(ViewBag.TemperatureData);
            var dataPointsX = [];
            var dataPointsY = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
        var d = new Date(strDate.replace('T', ' '));
                var xlabel = d.getDate() + '/' + d.getMonth() + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
        dataPointsY.push(result[i].y);
            }

  // Area Chart Example
        var ctx = document.getElementById("temperatureChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: "Nhiệt độ (°C) ",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 128, 0, 1)",
                    pointBorderColor: "rgba(255, 128, 0, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: dataPointsY,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 40,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + tooltipItem.yLabel+'°C';
                        }
                    }
                }
            }
        });

        }
        function airHumidityChart() {
            var result = @Html.Raw(ViewBag.AirHumidityData);
            var dataPointsX = [];
            var dataPointsY = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
        var d = new Date(strDate.replace('T', ' '));
                var xlabel = d.getDate() + '/' + d.getMonth() + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
        dataPointsY.push(result[i].y);
            }

  // Area Chart Example
        var ctx = document.getElementById("airHumidityChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: "Độ ẩm không khí (%) ",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(128, 255, 0, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: dataPointsY,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + tooltipItem.yLabel+'%';
                        }
                    }
                }
            }
        });

        }
               function soilHumidityChart() {
            var result = @Html.Raw(ViewBag.SoilHumidityData);
            var dataPointsX = [];
            var dataPointsY = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
                var d = new Date(strDate.replace('T', ' '));
                var xlabel = d.getDate() + '/' + d.getMonth() + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
        dataPointsY.push(result[i].y);
            }

  // Area Chart Example
        var ctx = document.getElementById("soilHumidityChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: "Độ ẩm đất (%) ",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(150, 150, 150, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 0, 128, 1)",
                    pointBorderColor: "rgba(255, 0, 128, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: dataPointsY,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{

                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + tooltipItem.yLabel+'%';
                        }
                    }
                }
            }
        });

        }
                      function rainyChart() {
            var result = @Html.Raw(ViewBag.RainyData);
            var dataPointsX = [];
            var dataPointsY = [];
for (var i = (result.length-1); i >=0; i--){
        strDate = result[i].x;
        var d = new Date(strDate.replace('T', ' '));
                var xlabel = d.getDate() + '/' + d.getMonth() + ' ' + d.getHours() + ':' + d.getMinutes();
        dataPointsX.push(xlabel);
        dataPointsY.push(result[i].y);
            }

  // Area Chart Example
        var ctx = document.getElementById("rainyChart");
            var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dataPointsX,
                datasets: [{
                    label: "Lượng mưa (mm) ",
                    lineTension: 0.3,
                    backgroundColor: "rgba(150, 115, 223, 1)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: dataPointsY,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },

                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 500,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        },

                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });

        }
        window.onload = function () {
            temperatureChart();
            airHumidityChart();
            soilHumidityChart();
            rainyChart();
            var id = @Html.Raw(ViewBag.Id);
            document.getElementById('mLocationID').value = id;
        };


    </script>
}

