@model Models.Framework.UserAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.roleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.roleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPrivateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPrivateNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPhoto)
        </dt>

        <dd>
            <img src="@Model.userPhoto" width="200" height="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userStatus)
        </dt>

        <dd>

            @(Model.userStatus==1?"Đã kích hoạt":"Khóa")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("<< Trở về", "Index")
</p>
