@model PagedList.IPagedList<Models.Framework.UserAccount>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách tài khoản người dùng</h2>

<p>
    @Html.ActionLink("Tạo mới tài khoản", "Create")
</p>
<table class="table">
    <!--<tr>
          <th>
              Html.DisplayNameFor(model => model.roleName)
          </th>
          <th>
              Html.DisplayNameFor(model => model.userName)
          </th>
          <th>
              Html.DisplayNameFor(model => model.loginName)
          </th>
          <th>
              Html.DisplayNameFor(model => model.phoneNumber)
          </th>
          <th>
              Html.DisplayNameFor(model => model.emailAddress)
          </th>
          <th></th>
      </tr>-->
    <tr>
        <th>
           Phân loại
        </th>
        <th>
           Họ tên
        </th>
        <th>
           Tên đăng nhập
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Địa chỉ Email
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.userID }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.userID }) |
                @Html.ActionLink("Xóa tài khoản", "Delete", new { id = item.userID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model,page => Url.Action("Index", new { page }),PagedListRenderOptions.MinimalWithPageCountText)