@model LaichauGIS_Data.Areas.Admin.Models.LoginPasswordUpdateModel

@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thay đổi mật khẩu</h2>

@using (Html.BeginForm("UpdatePassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    @Html.HiddenFor(model => model.userID)

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.oldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.oldPassword, htmlAttributes: new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.newPassword, htmlAttributes: new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.retypePassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.retypePassword, htmlAttributes: new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.retypePassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index", "AdminHome")
</div>
