@model Models.Framework.MeasurementLocation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa điểm đo</h2>

<h3>Bạn có chắc chắn muốn xóa điểm đo này?</h3>
<div>
    <h4>Thông tin điểm đo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mLocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward.wardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward.wardName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mLocationStatus)
        </dt>

        <dd>
            @(Model.mLocationStatus==1?"Đang hoạt động":"Dừng hoạt động")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
